---
import Layout from '@/layouts/Layout.astro';
import BookPageContent from '@/components/BookPageContent.vue';

export const prerender = true;
---

<Layout>
  <div class='container mx-auto pb-5'>
    <BookPageContent client:only='vue' />
  </div>
</Layout>
