---
import Layout from '@/layouts/Layout.astro';

export const prerender = true;
---

<Layout stickyHeader={true}>
  <div
    class='fixed h-full w-full -z-10 -mt-[144px] md:mt-0 bg-repeat bg-auto bg-[url(../assets/images/sportsmen-crowd-tradeshow-bg_mbl.png)] md:bg-[url(../assets/images/sportsmen-crowd-tradeshow-bg_tablet.png)] lg:bg-[url(../assets/images/sportsmen-crowd-tradeshow-bg_desktop.png)]'
  >
  </div>
  <div
    class='flex flex-col container lg:w-1/2 bg-[rgba(255,255,255,0.83)] text-lg text-center md:text-2xl font-bembo text-black mt-[144px] md:mt-0 mx-auto px-4 py-8 gap-4'
  >
    <p>Thanks to my son and collecting partner Jakob Dulisse.</p>
    <p>
      Thanks to Lala for her love and patience with my passion for collecting
      and my father for passing on the collecting bug.
    </p>
    <p>
      Thanks to Lindsey Brady for the cataloging and restoration of the photos
      for this digital archive and the design of this website.
    </p>
    <p>
      Thanks to Eoin O’Malley for translating our ideas and this archive into
      this postal collection website.
    </p>
    <p class='font-bold'>
      I hope you enjoyed looking through the gallery of this website. If you
      have any questions regarding purchasing the book, images or postcards, use
      the message form below.
    </p>
  </div>
</Layout>
