---
import Layout from '@/layouts/Layout.astro';
import HomePageContent from '@/components/homePageContent.vue';

export const prerender = true; // disable prerendering for now
---

<Layout>
  <div class='container mx-auto px-4 py-8'>
    <HomePageContent client:only='vue' />
  </div>
</Layout>
