---
import Header from '@/components/Header.vue';
import '@/styles/global.css';

const { stickyHeader = false } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Old-Time Sportsmen</title>
  </head>
  <body class='bg-[url(../assets/images/page-background.jpg)] bg-repeat'>
    <Header
      client:only='vue'
      sticky={stickyHeader}
    />
    <main>
      <slot />
    </main>
  </body>
</html>

<style lang='scss'>
  body {
    &::-webkit-scrollbar {
      width: 20px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px var(--color-green-gray);
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-green-olive);
      border-radius: 10px;

      &:hover {
        background: var(--color-brown-dark);
      }
    }
  }
</style>
